.board-page {
  height: calc(100vh - 70px);
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .board-page {
    height: calc(100vh - 60px);
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }
}

