.board-page {
  height: 100vh;
  padding-top: 70px;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .board-page {
    min-height: 100vh;
    height: auto;
    padding-top: 60px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

