.board-page {
  height: calc(100vh - 70px);
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .board-page {
    height: calc(100vh - 60px);
  }
}

